In [1]:
import sqlite3
import pickledb
from tinydb import TinyDB, Query

In [2]:
conn = sqlite3.connect('requests.db')
c = conn.cursor()

In [5]:
# Виды продукции
c.execute('''create table Requests(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null, Surname varchar(100) not null, Teleg_ID varchar(100) not null)''')

conn.commit()

In [6]:
conn.close()