In [4]:
import sqlite3
import pickledb
from tinydb import TinyDB, Query

In [5]:
conn = sqlite3.connect('database.db')
c = conn.cursor()

In [6]:
# Виды продукции
c.execute('''create table Product_type(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null)''')

# Поставщик
c.execute('''create table Supplier(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null)''')

# Товар
c.execute('''create table Products(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null, ID_Product_type int references Product_type(ID), ID_Supplier int references Supplier(ID))''')

# Изменения цен
c.execute('''create table Price_changes(ID INTEGER NOT NULL PRIMARY KEY, ID_Products int references Products(ID), Date_chages date not null, New_price decimal not null)''')

# Договор
c.execute('''create table Documents(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null, Date date not null)''')

# Документ
c.execute('''create table Contract(ID INTEGER NOT NULL PRIMARY KEY, Id_Employee int references Employee(ID), Id_Supplier int references Supplier(ID))''')

# Приход товара
c.execute('''create table Arrival_products(ID INTEGER NOT NULL PRIMARY KEY, Date_arrival int not null, Id_Supplier int references Supplier(ID), Id_Contract int references Contract(ID))''')

# Дополнительный приход
c.execute('''create table Additional_parish(ID INTEGER NOT NULL PRIMARY KEY, Product_volume int not null, Price_unit decimal not null, Id_Arrival_products int references Arrival_products(ID), Id_Products int references Products(ID))''')

# Расход
c.execute('''create table Expenditure(ID INTEGER NOT NULL PRIMARY KEY, Date_expenses date not null, Id_Supplier int references Supplier(ID), Id_Contract int references Contract(ID))''')

# Дополнительный расход
c.execute('''create table Additional_expense(ID INTEGER NOT NULL PRIMARY KEY, Price_unit decimal not null, Id_Expenditure int references Expenditure(ID), Id_Products int references Products(ID))''')

# Склад
c.execute('''create table Warehouse(ID INTEGER NOT NULL PRIMARY KEY, Id_arrival_products int references Arrival_products(ID), Id_Expenditure int references Expenditure(ID))''')

# Запись в счете
c.execute('''create table Account_entry(ID INTEGER NOT NULL PRIMARY KEY, Volume int not null, Id_Products int references Products(ID), Id_Price_changes int references Price_changes(ID))''')

# Передача со склада в кафе
c.execute('''create table Transfer_from_warehouse_to_cafe(Id_Cafe int references Cafe(ID), Id_Required_purchase int references Required_purchase(ID))''')

# Требуемая закупка
c.execute('''create table Required_purchase(ID INTEGER NOT NULL PRIMARY KEY, Required_volume int not null, Id_Cafe int references Cafe(ID), Id_Products int references Products(ID))''')

# Кафе
c.execute('''create table Cafe(ID INTEGER NOT NULL PRIMARY KEY, Address varchar(250) not null, Number int not null, Budget decimal not null, Id_Warehouse int references Warehouse(ID))''')

# Сотрудники
c.execute('''create table Employee(ID INTEGER NOT NULL PRIMARY KEY, Id_Post int references Post(ID), Name varchar(100) not null, Number int not null, Id_Cafe int references Cafe(ID))''')

# Должность
c.execute('''create table Post(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null, Responsibilities varchar(250) not null, Requirements varchar(250) not null, Salary decimal not null)''')


conn.commit()

In [5]:
conn.close()

In [ ]:

data1 = (
    1,
    'Молочка'
)
data2 = (
    2,
    'Овощи'
)
c.execute('INSERT INTO Product_type (ID, Name) VALUES (?,?,?,?,?,?,?,?)', data1)
c.execute('INSERT INTO Product_type (ID, Name) VALUES (?,?,?,?,?,?,?,?)', data2)


data3 = (
    1,
    'ООО Лучшие поставки'
)
data4 = (
    2,
    'АО Самые лучшие поставки'
)
c.execute('INSERT INTO Supplier (ID, Name) VALUES (?,?)', data3)
c.execute('INSERT INTO Supplier (ID, Name) VALUES (?,?)', data4)


data5 = (
    1,
    'Молоко',
    1,
    1
)
data6 = (
    2,
    'Помидоры',
    2,
    2
)
c.execute('INSERT INTO Products (ID, Name, ID_Product_type, ID_Supplier) VALUES (?,?,?,?)', data5)
c.execute('INSERT INTO Products (ID, Name, ID_Product_type, ID_Supplier) VALUES (?,?,?,?)', data6)


data7 = (
    1,
    'Молоко',
    1,
    '2001-01-01',
    100.014
)
data8 = (
    2,
    'Помидоры',
    2,
    '2002-02-02',
    200.015
)
c.execute('INSERT INTO Price_changes (ID, Name, ID_Products, Date_chages, New_price) VALUES (?,?,?,?,?)', data7)
c.execute('INSERT INTO Price_changes (ID, Name, ID_Products, Date_chages, New_price) VALUES (?,?,?,?,?)', data8)


data9 = (
    1,
    'Договор об изменении цен на молоко',
    '2002-04-07'
)
data10 = (
    2,
    'Договор об изменении цен на помидоры',
    '2002-06-05'
)
c.execute('INSERT INTO Documents (ID, Name, Date) VALUES (?,?,?)', data9)
c.execute('INSERT INTO Documents (ID, Name, Date) VALUES (?,?,?)', data10)


data11 = (
    1,
    'Администратор',
    'Управлять кафе',
    'Знать всё о сфере кафе',
    100000
)
data12 = (
    2,
    'Официант',
    'Разносить еду',
    'Знать немного о сфере кафе',
    20000
)
c.execute('INSERT INTO Post (ID, Name, Responsibilities, Requirements, Salary) VALUES (?,?,?,?,?)', data11)
c.execute('INSERT INTO Post (ID, Name, Responsibilities, Requirements, Salary) VALUES (?,?,?,?,?)', data12)


data13 = (
    1,
    1,
    'Иванов',
    88005553535,
    1
)
data14 = (
    2,
    2,
    'Петров',
    88005553533,
    1
)
c.execute('INSERT INTO Employee (ID, Id_Post, Name, Number, Id_Cafe) VALUES (?,?,?,?,?)', data13)
c.execute('INSERT INTO Employee (ID, Id_Post, Name, Number, Id_Cafe) VALUES (?,?,?,?,?)', data14)


data15 = (
    1,
    'Улица Пушкина дом 18',
    89999999999,
    100000000,
    1
)
data16 = (
    2,
    'Улица Лермонтова дом 10',
    89999999999,
    100000000,
    2
)
c.execute('INSERT INTO Cafe (ID, Address, Number, Budget, Id_Warehouse) VALUES (?,?,?,?,?)', data15)
c.execute('INSERT INTO Cafe (ID, Address, Number, Budget, Id_Warehouse) VALUES (?,?,?,?,?)', data16)


data17 = (
    1,
    15,
    1,
    1
)
data18 = (
    2,
    12,
    2,
    2
)
c.execute('INSERT INTO Required_purchase (ID, Required_volume, Id_Cafe, Id_Products) VALUES (?,?,?,?)', data17)
c.execute('INSERT INTO Required_purchase (ID, Required_volume, Id_Cafe, Id_Products) VALUES (?,?,?,?)', data18)


data19 = (
    1,
    1,
)
data20 = (
    2,
    2,
)
c.execute('INSERT INTO Transfer_from_warehouse_to_cafe (Id_Cafe, Id_Required_purchase) VALUES (?,?)', data19)
c.execute('INSERT INTO Transfer_from_warehouse_to_cafe (Id_Cafe, Id_Required_purchase) VALUES (?,?)', data20)


data21 = (
    1,
    60,
    1,
    1
)
data22 = (
    2,
    17,
    2,
    2
)
c.execute('INSERT INTO Account_entry (ID, Volume, Id_Products, Id_Price_changes) VALUES (?,?,?,?)', data21)
c.execute('INSERT INTO Account_entry (ID, Volume, Id_Products, Id_Price_changes) VALUES (?,?,?,?)', data22)


data23 = (
    1,
    1,
    1
)
data24 = (
    2,
    2,
    2
)
c.execute('INSERT INTO Warehouse(ID, Id_arrival_products, Id_Expenditure) VALUES (?,?,?)', data23)
c.execute('INSERT INTO Warehouse(ID, Id_arrival_products, Id_Expenditure) VALUES (?,?,?)', data24)


data25 = (
    1,
    '2001-08-05',
    1,
    1
)
data26 = (
    2,
    '2001-02-09',
    2,
    2
)
c.execute('INSERT INTO Expenditure(ID, Date_expenses, Id_Supplier, Id_Contract) VALUES (?,?,?,?)', data25)
c.execute('INSERT INTO Expenditure(ID, Date_expenses, Id_Supplier, Id_Contract) VALUES (?,?,?,?)', data26)


data27 = (
    1,
    100.02,
    1,
    1
)
data28 = (
    2,
    39.8,
    2,
    2
)
c.execute('INSERT INTO Additional_expense(ID, Price_unit, Id_Expenditure, Id_Products) VALUES (?,?,?,?)', data27)
c.execute('INSERT INTO Additional_expense(ID, Price_unit, Id_Expenditure, Id_Products)  VALUES (?,?,?,?)', data28)

data29 = (
    1,
    '2001-01-12',
    1,
    1
)
data30 = (
    2,
    '2001-02-12',
    2,
    2
)
c.execute('INSERT INTO Arrival_products(ID, Date_arrival, Id_Supplier, Id_Contract) VALUES (?,?,?,?)', data29)
c.execute('INSERT INTO Arrival_products(ID, Date_arrival, Id_Supplier, Id_Contract)  VALUES (?,?,?,?)', data30)


data31 = (
    1,
    178.02,
    1,
    1
)
data32 = (
    2,
    95.8,
    2,
    2
)
c.execute('INSERT INTO Additional_parish(ID, Product_volume, Price_unit, Id_Arrival_products, Id_Products) VALUES (?,?,?,?)', data31)
c.execute('INSERT INTO Additional_parish(ID, Product_volume, Price_unit, Id_Arrival_products, Id_Products) VALUES (?,?,?,?)', data32)


data33 = (
    1,
    1,
    1
)
data34 = (
    2,
    2,
    2
)
c.execute('INSERT INTO Contract(ID, Id_Employee, Id_Supplier) VALUES (?,?,?)', data33)
c.execute('INSERT INTO Contract(ID, Id_Employee, Id_Supplier) VALUES (?,?,?)', data34)