In [251]:
import sqlite3
import pickledb
from tinydb import TinyDB, Query

In [252]:
conn = sqlite3.connect('database.db')
c = conn.cursor()

In [253]:
# Виды продукции
c.execute('''create table Product_type(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null)''')

# Поставщик
c.execute('''create table Supplier(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null)''')

# Товар
c.execute('''create table Products(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null, ID_Product_type int references Product_type(ID), ID_Supplier int references Supplier(ID))''')

# Изменения цен
c.execute('''create table Price_changes(ID INTEGER NOT NULL PRIMARY KEY, ID_Products int references Products(ID), Date_changes date not null, New_price decimal not null)''')

# Договор
c.execute('''create table Documents(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null, Date date not null)''')

# Документ
c.execute('''create table Contract(ID INTEGER NOT NULL PRIMARY KEY, Id_Document int references Documents(ID), Id_Supplier int references Supplier(ID))''')

# Запись в счете
c.execute('''create table Cafe_expenses(ID INTEGER NOT NULL PRIMARY KEY, Id_Products int references Products(ID), Count int, Expenses int)''')

# Приход товара
c.execute('''create table Arrival_products(ID INTEGER NOT NULL PRIMARY KEY, Date_arrival int not null, Id_Supplier int references Supplier(ID), Id_Product int references Products(ID), Id_Contract int references Contract(ID), Id_Warehouse int references Warehouse(ID), Count int)''')

# Расход
c.execute('''create table Expenditure(ID INTEGER NOT NULL PRIMARY KEY, Id_Required_purchase int references Required_purchase(ID), Date_expenses date not null, Id_Warehouse int references Warehouse(ID))''')

# Склад
c.execute('''create table Warehouse(ID INTEGER NOT NULL PRIMARY KEY, Address varchar(100) not null)''')

# Кафе
c.execute('''create table Cafe(ID INTEGER NOT NULL PRIMARY KEY, Address varchar(250) not null, Number int not null, Id_Warehouse int references Warehouse(ID))''')

# Требуемая закупка
c.execute('''create table Required_purchase(ID INTEGER NOT NULL PRIMARY KEY, Id_Cafe int references Cafe(ID), Id_Products int references Products(ID), Count int)''')

# Сотрудники
c.execute('''create table Employee(ID INTEGER NOT NULL PRIMARY KEY, Id_Post int references Post(ID), Name varchar(100) not null, Number int not null, Id_Cafe int references Cafe(ID))''')

# Должность
c.execute('''create table Post(ID INTEGER NOT NULL PRIMARY KEY, Name varchar(100) not null, Responsibilities varchar(250) not null, Requirements varchar(250) not null, Salary decimal not null)''')

# Продукты на складах
c.execute('''create table Warehouse_prod(Id_Warehouse int references Warehouse(ID), Id_Product int references Product(ID), Count int)''')


conn.commit()

In [254]:
data1 = (
    1,
    'Молочка'
)
data2 = (
    2,
    'Овощи'
)
c.execute('INSERT INTO Product_type (ID, Name) VALUES (?,?)', data1)
c.execute('INSERT INTO Product_type (ID, Name) VALUES (?,?)', data2)

In [255]:
data3 = (
    1,
    'ООО Лучшие поставки'
)
data4 = (
    2,
    'АО Самые лучшие поставки'
)
c.execute('INSERT INTO Supplier (ID, Name) VALUES (?,?)', data3)
c.execute('INSERT INTO Supplier (ID, Name) VALUES (?,?)', data4)

In [256]:
data5 = (
    1,
    'Молоко 2,5%',
    1,
    1
)
data6 = (
    2,
    'Помидоры молдавские',
    2,
    2
)
c.execute('INSERT INTO Products (ID, Name, ID_Product_type, ID_Supplier) VALUES (?,?,?,?)', data5)
c.execute('INSERT INTO Products (ID, Name, ID_Product_type, ID_Supplier) VALUES (?,?,?,?)', data6)

In [257]:
data7 = (
    1,
    1,
    '2001-01-01',
    100.014
)
data8 = (
    2,
    2,
    '2002-02-02',
    200.015
)
c.execute('INSERT INTO Price_changes (ID, ID_Products, Date_changes, New_price) VALUES (?,?,?,?)', data7)
c.execute('INSERT INTO Price_changes (ID, ID_Products, Date_changes, New_price) VALUES (?,?,?,?)', data8)

In [258]:
data9 = (
    1,
    'Договор об изменении цен на молоко',
    '2002-04-07'
)
data10 = (
    2,
    'Договор об изменении цен на помидоры',
    '2002-06-05'
)
c.execute('INSERT INTO Documents (ID, Name, Date) VALUES (?,?,?)', data9)
c.execute('INSERT INTO Documents (ID, Name, Date) VALUES (?,?,?)', data10)

In [259]:
data11 = (
    1,
    'Администратор',
    'Управлять кафе',
    'Знать всё о сфере кафе',
    100000
)
data12 = (
    2,
    'Официант',
    'Разносить еду',
    'Знать немного о сфере кафе',
    20000
)
c.execute('INSERT INTO Post (ID, Name, Responsibilities, Requirements, Salary) VALUES (?,?,?,?,?)', data11)
c.execute('INSERT INTO Post (ID, Name, Responsibilities, Requirements, Salary) VALUES (?,?,?,?,?)', data12)

In [260]:
data13 = (
    1,
    1,
    'Иванов',
    88005553535,
    1
)
data14 = (
    2,
    2,
    'Петров',
    88005553533,
    1
)
c.execute('INSERT INTO Employee (ID, Id_Post, Name, Number, Id_Cafe) VALUES (?,?,?,?,?)', data13)
c.execute('INSERT INTO Employee (ID, Id_Post, Name, Number, Id_Cafe) VALUES (?,?,?,?,?)', data14)

In [261]:
data15 = (
    1,
    'Улица Пушкина дом 18',
    89999999999,
    1
)
data16 = (
    2,
    'Улица Лермонтова дом 10',
    89999999999,
    2
)
c.execute('INSERT INTO Cafe (ID, Address, Number, Id_Warehouse) VALUES (?,?,?,?)', data15)
c.execute('INSERT INTO Cafe (ID, Address, Number, Id_Warehouse) VALUES (?,?,?,?)', data16)

In [262]:
data17 = (
    1,
    1,
    2,
    3000
)
data18 = (
    2,
    2,
    1,
    2000
)
c.execute('INSERT INTO Required_purchase (ID, Id_Cafe, Id_Products, Count) VALUES (?,?,?,?)', data17)
c.execute('INSERT INTO Required_purchase (ID, Id_Cafe, Id_Products, Count) VALUES (?,?,?,?)', data18)

In [264]:
data23 = (
    1,
    "Улица Ленина, 23"
)
data24 = (
    2,
    "Улица 1 мая, 33"
)
c.execute('INSERT INTO Warehouse (ID, Address) VALUES (?,?)', data23)
c.execute('INSERT INTO Warehouse (ID, Address) VALUES (?,?)', data24)

In [265]:
data23_1 = (
    1,
    2,
    30000
)
data23_2 = (
    2,
    1,
    10000
)
c.execute('INSERT INTO Warehouse_prod (Id_Warehouse, Id_Product, Count) VALUES (?,?,?)', data23_1)
c.execute('INSERT INTO Warehouse_prod (Id_Warehouse, Id_Product, Count) VALUES (?,?,?)', data23_2)

In [266]:
data25 = (
    1,
    1,
    '2001-08-05',
    1
)
data26 = (
    2,
    2,
    '2001-08-05',
    2
)
c.execute('INSERT INTO Expenditure(ID, Id_Required_purchase, Date_expenses, Id_Warehouse) VALUES (?,?,?,?)', data25)
c.execute('INSERT INTO Expenditure(ID, Id_Required_purchase, Date_expenses, Id_Warehouse) VALUES (?,?,?,?)', data26)

In [267]:
data29 = (
    1,
    '2001-01-12',
    1,
    1,
    1,
    2,
    20000
)
data30 = (
    2,
    '2001-02-12',
    2,
    1,
    2,
    1,
    10000
)
c.execute('INSERT INTO Arrival_products(ID, Date_arrival, Id_Supplier, Id_Product, Id_Contract, Id_Warehouse, Count) VALUES (?,?,?,?,?,?,?)', data29)
c.execute('INSERT INTO Arrival_products(ID, Date_arrival, Id_Supplier, Id_Product, Id_Contract, Id_Warehouse, Count)  VALUES (?,?,?,?,?,?,?)', data30)

In [268]:
data33 = (
    1,
    1,
    1
)
data34 = (
    2,
    2,
    2
)
c.execute('INSERT INTO Contract(ID, Id_Document, Id_Supplier) VALUES (?,?,?)', data33)
c.execute('INSERT INTO Contract(ID, Id_Document, Id_Supplier) VALUES (?,?,?)', data34)

In [269]:
conn.commit()

conn.close()